In [1]:
import pandas as pd
import numpy as np

from itertools import chain

In [2]:
keys = pd.read_csv('styles.csv')
keys.head()

,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName,Unnamed: 10,Unnamed: 11
0,15970,Men,Apparel,Topwear,Shirts,Navy Blue,Fall,2011.0,Casual,Turtle Check Men Navy Blue Shirt,NaN,NaN
1,39386,Men,Apparel,Bottomwear,Jeans,Blue,Summer,2012.0,Casual,Peter England Men Party Blue Jeans,NaN,NaN
2,59263,Women,Accessories,Watches,Watches,Silver,Winter,2016.0,Casual,Titan Women Silver Watch,NaN,NaN
3,21379,Men,Apparel,Bottomwear,Track Pants,Black,Fall,2011.0,Casual,Manchester United Men Solid Black Track Pants,NaN,NaN
4,53759,Men,Apparel,Topwear,Tshirts,Grey,Summer,2012.0,Casual,Puma Men Grey T-shirt,NaN,NaN

In [3]:
keywords = keys['productDisplayName']
print(keywords)

0                       Turtle Check Men Navy Blue Shirt
1                     Peter England Men Party Blue Jeans
2                               Titan Women Silver Watch
3          Manchester United Men Solid Black Track Pants
4                                  Puma Men Grey T-shirt
                              ...
44440                 Lotto Men's Soccer Track Flip Flop
44441               Puma Men Graphic Stellar Blue Tshirt
44442                     Rasasi Women Blue Lady Perfume
44443    Fossil Women Pink Dial Chronograph Watch ES3050
44444                             louisvuitton Da Milano
Name: productDisplayName, Length: 44445, dtype: object

In [4]:
import unicodedata

def unicode_to_ascii(s):
    return ''.join(c for c in unicodedata.normalize('NFD', s) if unicodedata.category(c) != 'Mn')

In [5]:
import nltk
from nltk.tokenize import RegexpTokenizer
tokenizer = RegexpTokenizer('[a-zA-Z]+')
keywords =keywords.apply(str)

useful_sentences = []
for i in range(0, len(keywords), 1):
    useful_text = tokenizer.tokenize(keywords[i])
    useful_sentences.append(useful_text)

In [6]:
keyword_list = list(chain.from_iterable(useful_sentences))
print(len(keyword_list))

263703

In [7]:
unique_words = list(set(keyword_list))
len(unique_words)

7522

In [8]:
unique_words = [x.lower() for x in unique_words]

STORING LIST OF FASHION RELATED WORDS

In [9]:
%store unique_words

Stored 'unique_words' (list)